* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
  background: url(../img/wallpaper_small.jpg) center/cover no-repeat;
}

.App .top {
  top: 0;
}

.App .bottom {
  bottom: 0;
}

.App .left {
  left: 0;
}

.App .right {
  right: 0;
}

.App #main-view {
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
}

.App .AppMain {
  display: grid;
}
