* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  position: relative;
  // bg-size 一定要接在 bg-position后  bg-positoon/bg-size
  background: url("./img/wallpaper_small.jpg") center/cover no-repeat;
  // background-position: center;
  // background-size: cover;
  min-width: 1500px;
  height: 100vh;
  // 暂时弹窗 canvas,定位影响数值
  .modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Docker 栏
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    div {
      display: flex;
      align-items: flex-end;
      background-color: rgba(222, 223, 227, 0.7);
      box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px,
        rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
    }
  }
}
